<Font size=5> External Data Preprocessing

<font size=3>School Location

In [1]:
import pandas as pd

In [20]:
school_df_1819 = pd.read_csv('../data/raw/school_location_18_19.csv',encoding='cp1252')
school_df_20 = pd.read_csv('../data/raw/school_location_20.csv')
school_df_21 = pd.read_csv('../data/raw/school_location_21.csv',encoding='cp1252')

In [21]:
school_df_1819.head()

,Education_Sector,Entity_Type,School_No,School_Name,School_Type,School_Status,Address_Line_1,Address_Line_2,Address_Town,Address_State,...,Postal_Address_Line_1,Postal_Address_Line_2,Postal_Town,Postal_State,Postal_Postcode,Full_Phone_No,LGA_ID,LGA_Name,X,Y
0,Government,1,1,Alberton Primary School,Primary,O,21 Thomson Street,NaN,Alberton,VIC,...,21 Thomson Street,NaN,ALBERTON,VIC,3971,03 5183 2412,681,Wellington (S),146.666601,-38.617713
1,Government,1,3,Allansford and District Primary School,Primary,O,Frank Street,NaN,Allansford,VIC,...,Frank Street,NaN,ALLANSFORD,VIC,3277,03 5565 1382,673,Warrnambool (C),142.590393,-38.386281
2,Government,1,4,Avoca Primary School,Primary,O,118 Barnett Street,NaN,Avoca,VIC,...,P O Box 12,NaN,AVOCA,VIC,3467,03 5465 3176,599,Pyrenees (S),143.475649,-37.084502
3,Government,1,8,Avenel Primary School,Primary,O,40 Anderson Street,NaN,Avenel,VIC,...,40 Anderson Street,NaN,AVENEL,VIC,3664,03 5796 2264,643,Strathbogie (S),145.234722,-36.901368
4,Government,1,12,Warrandyte Primary School,Primary,O,5-11 Forbes Street,NaN,Warrandyte,VIC,...,5-11 Forbes Street,NaN,WARRANDYTE,VIC,3113,03 9844 3537,421,Manningham (C),145.213980,-37.742675

In [22]:
school_df_20.head()

,Education_Sector,Entity_Type,SCHOOL_NO,School_Name,School_Type,School_Status,Address_Line_1,Address_Line_2,Address_Town,Address_State,...,Postal_Address_Line_1,Postal_Address_Line_2,Postal_Town,Postal_State,Postal_Postcode,Full_Phone_No,LGA_ID,LGA_Name,X,Y
0,Government,1,1,Alberton Primary School,Primary,O,21 Thomson Street,NaN,Alberton,VIC,...,21 Thomson Street,NaN,ALBERTON,VIC,3971,03 5183 2412,681,Wellington (S),146.666601,-38.617713
1,Government,1,3,Allansford and District Primary School,Primary,O,Frank Street,NaN,Allansford,VIC,...,Frank Street,NaN,ALLANSFORD,VIC,3277,03 5565 1382,673,Warrnambool (C),142.590393,-38.386281
2,Government,1,4,Avoca Primary School,Primary,O,118 Barnett Street,NaN,Avoca,VIC,...,P O Box 12,NaN,AVOCA,VIC,3467,03 5465 3176,599,Pyrenees (S),143.475649,-37.084502
3,Government,1,8,Avenel Primary School,Primary,O,40 Anderson Street,NaN,Avenel,VIC,...,40 Anderson Street,NaN,AVENEL,VIC,3664,03 5796 2264,643,Strathbogie (S),145.234722,-36.901368
4,Government,1,12,Warrandyte Primary School,Primary,O,5-11 Forbes Street,NaN,Warrandyte,VIC,...,5-11 Forbes Street,NaN,WARRANDYTE,VIC,3113,03 9844 3537,421,Manningham (C),145.213980,-37.742675

In [23]:
school_df_21.head()

,Education_Sector,Entity_Type,SCHOOL_NO,School_Name,School_Type,School_Status,Address_Line_1,Address_Line_2,Address_Town,Address_State,...,Postal_Address_Line_1,Postal_Address_Line_2,Postal_Town,Postal_State,Postal_Postcode,Full_Phone_No,LGA_ID,LGA_Name,X,Y
0,Government,1,1,Alberton Primary School,Primary,O,21 Thomson Street,NaN,Alberton,VIC,...,21 Thomson Street,NaN,ALBERTON,VIC,3971,03 5183 2412,681,Wellington (S),146.666601,-38.617713
1,Government,1,3,Allansford and District Primary School,Primary,O,Frank Street,NaN,Allansford,VIC,...,Frank Street,NaN,ALLANSFORD,VIC,3277,03 5565 1382,673,Warrnambool (C),142.590393,-38.386281
2,Government,1,4,Avoca Primary School,Primary,O,118 Barnett Street,NaN,Avoca,VIC,...,P O Box 12,NaN,AVOCA,VIC,3467,03 5465 3176,599,Pyrenees (S),143.475649,-37.084502
3,Government,1,8,Avenel Primary School,Primary,O,40 Anderson Street,NaN,Avenel,VIC,...,40 Anderson Street,NaN,AVENEL,VIC,3664,03 5796 2264,643,Strathbogie (S),145.234722,-36.901368
4,Government,1,12,Warrandyte Primary School,Primary,O,5-11 Forbes Street,NaN,Warrandyte,VIC,...,5-11 Forbes Street,NaN,WARRANDYTE,VIC,3113,03 9844 3537,421,Manningham (C),145.213980,-37.742675

In [25]:
school_df_1819 = school_df_1819[['Education_Sector','School_Name','School_Type','Address_Line_1','Address_Town','Address_Postcode','LGA_Name','X','Y']]
school_df_20 = school_df_20[['Education_Sector','School_Name','School_Type','Address_Line_1','Address_Town','Address_Postcode','LGA_Name','X','Y']]
school_df_21 = school_df_21[['Education_Sector','School_Name','School_Type','Address_Line_1','Address_Town','Address_Postcode','LGA_Name','X','Y']]

In [26]:
school_df_1819.isnull().sum().sort_values(ascending=False)

Education_Sector    0
School_Name         0
School_Type         0
Address_Line_1      0
Address_Town        0
Address_Postcode    0
LGA_Name            0
X                   0
Y                   0
dtype: int64

In [27]:
school_df_20.isnull().sum().sort_values(ascending=False)

Education_Sector    0
School_Name         0
School_Type         0
Address_Line_1      0
Address_Town        0
Address_Postcode    0
LGA_Name            0
X                   0
Y                   0
dtype: int64

In [28]:
school_df_21.isnull().sum().sort_values(ascending=False)

Education_Sector    0
School_Name         0
School_Type         0
Address_Line_1      0
Address_Town        0
Address_Postcode    0
LGA_Name            0
X                   0
Y                   0
dtype: int64

In [29]:
school_df_1819.to_csv('../data/curated/school_df_1819_preprocessed.csv')
school_df_20.to_csv('../data/curated/school_df_20_preprocessed.csv')
school_df_21.to_csv('../data/curated/school_df_21_preprocessed.csv')

<Font size=3> Hospital Location

In [13]:
hospital_df= pd.read_csv('../data/raw/hospital_location.csv')
hospital_df.head()

,Hospital ID,Formal Name,Other Name,Emergency Capable,Location Address,Suburb,Postcode,Access Point,Category,Agency Type
0,5488,Albert Road Clinic,Albert Road Clinic,NO,31-33 Albert Road,South Melbourne,3205,NaN,PRIVATE,Private Hospital
1,3485,Albury Wodonga Health,Albury Wodonga Health,YES,69 Vermont Street,Wodonga,3690,NaN,PUBLIC,Public Hospital
2,12990,"Albury Wodonga Health, Albury Campus","Albury Wodonga Health, Albury Campus",YES,Borella,Albury,2640,NaN,PUBLIC,Public Hospital
3,3491,Alexandra District Health,Alexandra District Health,NO,20 Cooper Street,Alexandra,3714,NaN,PUBLIC,Public Hospital
4,11519,Alfred Health,Alfred Health,NO,Commercial Road,Melbourne,3004,NaN,PUBLIC,Public Hospital

In [14]:
hospital_df = hospital_df[['Formal Name','Emergency Capable','Location Address','Suburb','Postcode','Agency Type']]
hospital_df.head()

,Formal Name,Emergency Capable,Location Address,Suburb,Postcode,Agency Type
0,Albert Road Clinic,NO,31-33 Albert Road,South Melbourne,3205,Private Hospital
1,Albury Wodonga Health,YES,69 Vermont Street,Wodonga,3690,Public Hospital
2,"Albury Wodonga Health, Albury Campus",YES,Borella,Albury,2640,Public Hospital
3,Alexandra District Health,NO,20 Cooper Street,Alexandra,3714,Public Hospital
4,Alfred Health,NO,Commercial Road,Melbourne,3004,Public Hospital

In [15]:
hospital_df.isnull().sum().sort_values(ascending=False)

Formal Name          0
Emergency Capable    0
Location Address     0
Suburb               0
Postcode             0
Agency Type          0
dtype: int64

In [16]:
hospital_df.to_csv('../data/curated/hospital_preprocessed.csv')

<font size=3> Population Data

In [2]:
population_df=pd.read_excel('../data/raw/population.xlsx',sheet_name='Table 3')
population = population_df[8:]
population.to_csv('../data/raw/population_2.csv', encoding='utf-8')
population

,Australian Bureau of Statistics,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
8,2001,1,New South Wales,1RNSW,Rest of NSW,101,Capital Region,10102,Queanbeyan,101021007,...,221,262,233,197,125,108,79,57,37,2760
9,2001,1,New South Wales,1RNSW,Rest of NSW,101,Capital Region,10102,Queanbeyan,101021008,...,675,585,491,300,223,201,144,64,32,9129
10,2001,1,New South Wales,1RNSW,Rest of NSW,101,Capital Region,10102,Queanbeyan,101021009,...,633,620,520,444,384,394,320,214,226,9717
11,2001,1,New South Wales,1RNSW,Rest of NSW,101,Capital Region,10102,Queanbeyan,101021010,...,323,297,199,152,97,94,82,54,20,3925
12,2001,1,New South Wales,1RNSW,Rest of NSW,101,Capital Region,10102,Queanbeyan,101021012,...,600,508,294,224,159,105,70,29,24,9425
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51459,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51460,"Source: Regional population by age and sex, 2021",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51461,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51462,© Commonwealth of Australia 2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
population=pd.read_csv('../data/raw/population_2.csv',header=0,names=['Year','S/T code','S/T name', 'GCCSA code', 'GCCSA name', \
                     'SA4 code', 'SA4 name', 'SA3 code', 'SA3 name', 'SA2 code', \
                     'SA2 name', '0-4','5-9', '10-14','15-19', '20-24','25-29',\
                    '30-34', '35-39', '40-44', '45-49', '50-54', '55-59', '60-64', '65-69', '70-74',\
                    '75-79','80-84','85 and over', 'total persons'])
VIC_population = population.loc[population['S/T name']=='Victoria']

/Users/zhangwenwen/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [43]:
select_population = VIC_population.loc[:, ['Year','S/T name', 'SA2 name', '0-4','5-9', '10-14','15-19', '20-24','25-29',\
                    '30-34', '35-39', '40-44', '45-49', '50-54', '55-59', '60-64', '65-69', '70-74',\
                    '75-79','80-84','85 and over', 'total persons']]

In [44]:
pop_18to21 = select_population.loc[(select_population['Year'] == '2018') | (select_population['Year']== '2019') | (select_population['Year']=='2020') | (select_population['Year']=='2021')] 
pop_18to21

,Year,S/T name,SA2 name,0-4,5-9,10-14,15-19,20-24,25-29,30-34,...,45-49,50-54,55-59,60-64,65-69,70-74,75-79,80-84,85 and over,total persons
42300,2018,Victoria,Alfredton,1068.0,1109.0,1145.0,1102.0,891.0,866.0,927.0,...,913.0,760.0,716.0,616.0,519.0,447.0,303.0,166.0,141.0,13520.0
42301,2018,Victoria,Ballarat,577.0,694.0,729.0,868.0,852.0,757.0,674.0,...,843.0,786.0,845.0,751.0,712.0,612.0,473.0,319.0,373.0,12237.0
42302,2018,Victoria,Buninyong,431.0,585.0,550.0,582.0,607.0,287.0,349.0,...,516.0,448.0,530.0,471.0,449.0,313.0,179.0,109.0,80.0,7413.0
42303,2018,Victoria,Delacombe,620.0,557.0,537.0,565.0,682.0,757.0,615.0,...,477.0,406.0,462.0,395.0,362.0,308.0,188.0,166.0,155.0,8174.0
42304,2018,Victoria,Smythes Creek,232.0,311.0,366.0,326.0,222.0,140.0,200.0,...,341.0,314.0,305.0,261.0,211.0,163.0,64.0,44.0,24.0,4040.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50167,2021,Victoria,Otway,151.0,168.0,200.0,168.0,109.0,157.0,209.0,...,264.0,303.0,363.0,422.0,404.0,311.0,182.0,103.0,71.0,3978.0
50168,2021,Victoria,Moyne - East,426.0,470.0,508.0,441.0,330.0,351.0,437.0,...,444.0,477.0,555.0,526.0,475.0,339.0,210.0,153.0,113.0,6989.0
50169,2021,Victoria,Moyne - West,516.0,611.0,729.0,588.0,389.0,424.0,506.0,...,618.0,675.0,735.0,731.0,781.0,671.0,420.0,228.0,252.0,9963.0
50170,2021,Victoria,Warrnambool - North,1259.0,1434.0,1598.0,1424.0,1216.0,1463.0,1436.0,...,1374.0,1435.0,1444.0,1404.0,1245.0,1150.0,843.0,543.0,504.0,22462.0
50171,2021,Victoria,Warrnambool - South,641.0,695.0,728.0,713.0,673.0,892.0,832.0,...,805.0,855.0,838.0,913.0,885.0,760.0,536.0,391.0,540.0,13292.0

In [45]:
postcode_SA2 = pd.read_csv('../data/raw/postcode_info.csv')
postcode_SA2

,Unnamed: 0,ID,Postcode,Locality,State,Longitude,Latitude,Category,Type,SA3,...,MMM 2015,MMM 2019,CED,Altitude,Charge Zone,PHN Code,PHN Name,LGA Region,Electorate,Electorate Rating
0,0,4746,3000,MELBOURNE,VIC,144.956776,-37.817403,Delivery Area,Delivery Area,20604.0,...,1.0,1.0,Melbourne,15.244751,V1,PHN201,North Western Melbourne,Melbourne,Melbourne,Inner Metropolitan
1,1,4747,3001,MELBOURNE,VIC,144.956776,-37.817403,Post Office Boxes,Post Office Boxes,20605.0,...,1.0,1.0,Melbourne,15.244751,V1,PHN203,NaN,Moonee Valley,Maribyrnong,NaN
2,2,4748,3002,EAST MELBOURNE,VIC,144.982207,-37.818517,Delivery Area,Delivery Area,20604.0,...,1.0,1.0,Melbourne,14.315022,V1,PHN201,North Western Melbourne,Yarra,Melbourne,Inner Metropolitan
3,3,4749,3003,WEST MELBOURNE,VIC,144.949592,-37.810871,Delivery Area,Delivery Area,20604.0,...,1.0,1.0,Melbourne,15.316063,V1,PHN201,North Western Melbourne,Melbourne,Melbourne,Inner Metropolitan
4,4,4750,3004,MELBOURNE,VIC,144.970161,-37.844246,Delivery Area,Delivery Area,20605.0,...,1.0,1.0,Macnamara,-3492.000000,V1,PHN203,South Eastern Melbourne,Yarra,Macnamara,Inner Metropolitan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3529,3529,11311,8111,MELBOURNE,VIC,144.970161,-37.844246,LVR,LVR,20605.0,...,1.0,1.0,NaN,NaN,V1,PHN203,NaN,Yarra,Macnamara,NaN
3530,3530,11312,8120,MELBOURNE,VIC,144.970161,-37.844246,LVR,LVR,20605.0,...,1.0,1.0,NaN,NaN,V1,PHN203,NaN,Yarra,Macnamara,NaN
3531,3531,11313,8205,MELBOURNE,VIC,144.970161,-37.844246,LVR,LVR,20605.0,...,1.0,1.0,NaN,NaN,V1,PHN203,NaN,Yarra,Macnamara,NaN
3532,3532,11331,8785,DANDENONG,VIC,145.208504,-38.016114,Post Office Boxes,Post Office Boxes,21204.0,...,1.0,1.0,NaN,15.138582,V1,PHN203,NaN,Monash,Isaacs,NaN
3533,3533,23878,9999,NORTH POLE,VIC,144.956776,-37.817403,Delivery Area,Delivery Area,20604.0,...,1.0,1.0,Melbourne,15.244751,NaN,NaN,NaN,Yarra,Macnamara,NaN

In [46]:
attribute = postcode_SA2.loc[:,['Postcode','Longitude','Latitude','SA2 NAME 2016']]
drop_dup = attribute.drop_duplicates(subset=['Postcode'])
drop_dup = drop_dup.drop_duplicates(subset=['Longitude','Latitude'])
rename = drop_dup.rename(columns={'SA2 NAME 2016':'SA2 name'})

In [47]:
rename

      Postcode   Longitude   Latitude        SA2 name
0         3000  144.956776 -37.817403       Melbourne
2         3002  144.982207 -37.818517  East Melbourne
3         3003  144.949592 -37.810871  West Melbourne
4         3004  144.970161 -37.844246       Southbank
7         3005  144.950858 -37.824608       Docklands
...        ...         ...        ...             ...
3512      8004  145.468994 -36.558800     Albert Park
3514      8006  144.959306 -37.809701       Melbourne
3517      8009  144.964531 -37.817201       Melbourne
3518      8010  146.293728 -38.185857          Romsey
3519      8011  144.961746 -37.811314       Melbourne

[724 rows x 4 columns]

In [48]:
merge_data = pd.DataFrame(pd.merge(rename, pop_18to21, on='SA2 name', how='inner'))

In [49]:
merge_data.to_csv('../data/curated/population.csv')

In [50]:
merge_data

,Postcode,Longitude,Latitude,SA2 name,Year,S/T name,0-4,5-9,10-14,15-19,...,45-49,50-54,55-59,60-64,65-69,70-74,75-79,80-84,85 and over,total persons
0,3002,144.982207,-37.818517,East Melbourne,2018,Victoria,224.0,97.0,80.0,108.0,...,300.0,290.0,349.0,342.0,340.0,276.0,146.0,85.0,139.0,5409.0
1,3002,144.982207,-37.818517,East Melbourne,2019,Victoria,218.0,103.0,79.0,114.0,...,279.0,291.0,356.0,346.0,354.0,289.0,161.0,95.0,128.0,5413.0
2,3002,144.982207,-37.818517,East Melbourne,2020,Victoria,189.0,104.0,85.0,113.0,...,268.0,304.0,351.0,351.0,363.0,312.0,194.0,94.0,123.0,5378.0
3,3002,144.982207,-37.818517,East Melbourne,2021,Victoria,121.0,97.0,90.0,97.0,...,250.0,305.0,317.0,352.0,324.0,318.0,208.0,96.0,116.0,4962.0
4,3005,144.950858,-37.824608,Docklands,2018,Victoria,772.0,263.0,159.0,463.0,...,763.0,703.0,635.0,510.0,373.0,274.0,117.0,62.0,25.0,15439.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2363,3995,145.630713,-38.578071,Wonthaggi - Inverloch,2021,Victoria,1267.0,1385.0,1466.0,1230.0,...,1462.0,1693.0,1941.0,2287.0,2423.0,2147.0,1482.0,909.0,799.0,26723.0
2364,3996,145.745609,-38.629561,Wonthaggi - Inverloch,2018,Victoria,1212.0,1337.0,1299.0,1175.0,...,1482.0,1527.0,1765.0,1941.0,1988.0,1815.0,1206.0,777.0,771.0,23966.0
2365,3996,145.745609,-38.629561,Wonthaggi - Inverloch,2019,Victoria,1220.0,1354.0,1324.0,1212.0,...,1458.0,1544.0,1835.0,2008.0,2091.0,1906.0,1248.0,835.0,783.0,24739.0
2366,3996,145.745609,-38.629561,Wonthaggi - Inverloch,2020,Victoria,1213.0,1393.0,1375.0,1203.0,...,1437.0,1589.0,1904.0,2112.0,2244.0,2026.0,1346.0,876.0,772.0,25631.0
2367,3996,145.745609,-38.629561,Wonthaggi - Inverloch,2021,Victoria,1267.0,1385.0,1466.0,1230.0,...,1462.0,1693.0,1941.0,2287.0,2423.0,2147.0,1482.0,909.0,799.0,26723.0