In [1]:
import pandas as pd
import folium
import geopandas as gpd
from folium.plugins import MarkerCluster
from folium.plugins import HeatMap

In [2]:
school = pd.read_csv("../data/curated/school_df_21_preprocessed.csv")
mall = pd.read_csv("../data/raw/mall_info.csv")
train = pd.read_excel("../data/raw/train_station_20to21.xlsx")
postcode_SA2 = pd.read_csv("../data/raw/postcode_info.csv")
population = pd.read_csv("../data/curated/population_postcode_SA2.csv")
rent_income = pd.read_csv("../data/curated/rent_income21.csv")

# School

In [3]:
school

,Unnamed: 0,Education_Sector,School_Name,School_Type,Address_Line_1,Address_Town,Address_Postcode,LGA_Name,X,Y
0,0,Government,Alberton Primary School,Primary,21 Thomson Street,Alberton,3971,Wellington (S),146.666601,-38.617713
1,1,Government,Allansford and District Primary School,Primary,Frank Street,Allansford,3277,Warrnambool (C),142.590393,-38.386281
2,2,Government,Avoca Primary School,Primary,118 Barnett Street,Avoca,3467,Pyrenees (S),143.475649,-37.084502
3,3,Government,Avenel Primary School,Primary,40 Anderson Street,Avenel,3664,Strathbogie (S),145.234722,-36.901368
4,4,Government,Warrandyte Primary School,Primary,5-11 Forbes Street,Warrandyte,3113,Manningham (C),145.213980,-37.742675
...,...,...,...,...,...,...,...,...,...,...
2286,2286,Independent,Youth2Industry College,Secondary,"Level 2, 220 Albert Road",SOUTH MELBOURNE,3205,Port Phillip (C),144.966417,-37.837469
2287,2287,Catholic,St Angela of the Cross Primary School,Primary,181 Mills Road,WARRAGUL,3820,Baw Baw (S),145.961611,-38.141528
2288,2288,Independent,My College,Primary,92 – 96 Railway Crescent,DALLAS,3047,Hume (C),144.923692,-37.675751
2289,2289,Independent,Woodline Primary,Primary,405 Barrabool Road,CERES,3221,Greater Geelong (C),144.285354,-38.171776
2290,2290,Catholic,Brosnan Learning Centre,Secondary,326 Church Street,RICHMOND,3121,Yarra (C),144.998477,-37.821915

In [4]:
sch_lat = school["Y"].to_list()
sch_lng = school["X"].to_list()
sch_type = school["School_Type"].to_list()

In [5]:
sch_point = []
for i in range(len(sch_lat)):
    sch_point.append((sch_lat[i], sch_lng[i], sch_type[i]))

In [6]:
#sch_point

In [7]:
poa_sch = []
for i in school["Address_Postcode"]:
    poa_sch.append(i)

poa_school = []
for j in poa_sch:
    if j not in poa_school:
        poa_school.append(j)

len(poa_school)

580

In [8]:
num_school = []
for poa in poa_school: 
    num = 0
    for index,row in school.iterrows():
        if row['Address_Postcode'] == poa:
            num += 1
    
    num_school.append((poa,num))
    
#num_school

In [9]:
len(num_school)

580

# Mall

In [10]:
mall

,Unnamed: 0,Mall,Stores,State,City,Latitude,Longitude
0,0,206 Bourke Street,16.0,Victoria,Melbourne,-37.812733,144.966947
1,1,Acland Court Shopping Centre,13.0,Victoria,St Kilda,-37.868967,144.980617
2,2,Altona Gate Shopping Centre,83.0,Victoria,Melbourne,-37.828989,144.846270
3,3,Balnarring Village Shopping Centre,29.0,Victoria,Balnarring,-38.373199,145.125010
4,4,Barkly Square,46.0,Victoria,Brunswick,-37.775695,144.962004
...,...,...,...,...,...,...,...
186,186,Wodonga Plaza,48.0,Victoria,Wodonga,-36.121153,146.881917
187,187,Woodgrove Shopping Centre,161.0,Victoria,Melton,-37.686167,144.561270
188,188,Woolworths Whitebox Rise Wodonga,8.0,Victoria,Wodonga,-36.139008,146.892456
189,189,Wyndham Vale Square Shopping Centre,11.0,Victoria,Wyndham Vale,-37.888057,144.607036
190,190,Wyndham Village Shopping Centre,63.0,Victoria,Tarneit,-37.849333,144.704302

In [11]:
mall_lat = mall["Latitude"].to_list()
mall_lng = mall["Longitude"].to_list()
mall_store = mall["Stores"].to_list()

In [12]:
mall_point = []
for i in range(len(mall_lat)):
    mall_point.append((mall_lat[i], mall_lng[i], mall_store[i]))

In [13]:
#mall_point

# Train station

In [14]:
train

,Fin_year,Stop_ID,Stop_name,Stop_lat,Stop_long,Pax_annual
0,FY20-21,19980,Melton Railway Station (Melton South),-37.703362,144.572217,326100
1,FY20-21,19981,Rockbank Railway Station (Rockbank),-37.729258,144.650630,57900
2,FY20-21,19982,Deer Park Railway Station (Deer Park),-37.777760,144.772307,240650
3,FY20-21,20020,Ardeer Railway Station (Ardeer),-37.783063,144.802193,23050
4,FY20-21,20287,Albury Railway Station (Albury (NSW)),-36.084263,146.924518,9950
...,...,...,...,...,...,...
86,FY20-21,47647,Wyndham Vale Railway Station (Manor Lakes),-37.872884,144.608734,358050
87,FY20-21,47648,Tarneit Railway Station (Tarneit),-37.832169,144.694716,593000
88,FY20-21,48804,Cobblebank Railway Station (Cobblebank),-37.712542,144.604103,46950
89,FY20-21,52011,Caroline Springs Railway Station (Ravenhall),-37.766144,144.735748,64400
90,FY20-21,64408,Southern Cross Railway Station (Melbourne City),-37.818245,144.951691,2033750

In [15]:
train_lat = train["Stop_lat"].to_list()
train_lng = train["Stop_long"].to_list()
train_id = train["Stop_ID"].to_list()

In [16]:
train_point = []
for i in range(len(train_lat)):
    train_point.append((train_lat[i], train_lng[i], train_id[i]))

# Population

In [17]:
population

,Unnamed: 0,Postcode,Longitude,Latitude,SA2 name,S/T name,2001,2002,2003,2004,...,change 2011-2021 number,change 2011-2021 %,Area km2,population density 2021(persons/km2),average change %,2022,2023,2024,2025,2026
0,0,3002,144.982207,-37.818517,East Melbourne,Victoria,3731,3859,4243,4460,...,-276,-0.053,2.9,1711.2,1.014927,5036.0,5111.0,5187.0,5264.0,5343.0
1,1,3005,144.950858,-37.824608,Docklands,Victoria,154,926,1913,3089,...,9746,1.573,2.4,6522.9,1.422278,22674.0,32249.0,45867.0,65236.0,92784.0
2,2,3008,144.948039,-37.814719,Docklands,Victoria,154,926,1913,3089,...,9746,1.573,2.4,6522.9,1.422278,22674.0,32249.0,45867.0,65236.0,92784.0
3,3,3010,144.961351,-37.796152,Parkville,Victoria,5332,5327,5253,5201,...,895,0.137,4.0,1838.9,1.017541,7577.0,7710.0,7845.0,7983.0,8123.0
4,4,3050,144.954581,-37.800324,Parkville,Victoria,5332,5327,5253,5201,...,895,0.137,4.0,1838.9,1.017541,7577.0,7710.0,7845.0,7983.0,8123.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
587,587,3990,145.501279,-38.455399,Wonthaggi - Inverloch,Victoria,17647,17801,17956,18117,...,6327,0.310,728.8,36.7,1.021019,27285.0,27859.0,28445.0,29043.0,29653.0
588,588,3991,145.466781,-38.483041,Wonthaggi - Inverloch,Victoria,17647,17801,17956,18117,...,6327,0.310,728.8,36.7,1.021019,27285.0,27859.0,28445.0,29043.0,29653.0
589,589,3992,145.534315,-38.569135,Wonthaggi - Inverloch,Victoria,17647,17801,17956,18117,...,6327,0.310,728.8,36.7,1.021019,27285.0,27859.0,28445.0,29043.0,29653.0
590,590,3995,145.630713,-38.578071,Wonthaggi - Inverloch,Victoria,17647,17801,17956,18117,...,6327,0.310,728.8,36.7,1.021019,27285.0,27859.0,28445.0,29043.0,29653.0
591,591,3996,145.745609,-38.629561,Wonthaggi - Inverloch,Victoria,17647,17801,17956,18117,...,6327,0.310,728.8,36.7,1.021019,27285.0,27859.0,28445.0,29043.0,29653.0

In [18]:
pop_lat = population["Latitude"].to_list()
pop_lng = population["Longitude"].to_list()
pop11_21 = population["change 2011-2021 %"].to_list()

In [19]:
pop_point = []
for i in range(len(pop_lat)):
    pop_point.append((pop_lat[i], pop_lng[i], pop11_21[i]))

In [20]:
pop_point

[(-37.818517, 144.982207, -0.053),
 (-37.824608, 144.950858, 1.5730000000000002),
 (-37.814719, 144.948039, 1.5730000000000002),
 (-37.796152, 144.961351, 0.1369999999999999),
 (-37.800324, 144.954581, 0.1369999999999999),
 (-37.788996, 144.948903, 0.1369999999999999),
 (-37.807101, 144.907953, 0.242),
 (-37.807135, 144.861162, 0.072),
 (-37.814183, 144.888686, 0.093),
 (-37.838242, 144.880556, 0.13),
 (-37.863743, 144.888461, 0.047),
 (-37.86172, 144.812736, 0.114),
 (-37.784683, 144.854014, 0.158),
 (-37.777204, 144.829945, 0.0279999999999999),
 (-37.795937, 144.793961, 0.0279999999999999),
 (-37.743361, 144.796693, -0.016),
 (-37.78272, 144.770641, 0.303),
 (-37.75045631, 144.649936, 5.434),
 (-37.719, 144.6684, 5.434),
 (-37.835562, 144.839704, 0.113),
 (-37.932419, 144.754147, 1.084),
 (-37.875066, 144.777165, -0.046),
 (-37.837165, 144.705831, -0.048),
 (-37.79119, 144.923403, -0.037),
 (-37.774486, 144.897221, 0.086),
 (-37.74107, 144.857638, -0.004),
 (-37.705324, 144.82246, -0.004),
 (-37.761235, 144.86194, 0.093),
 (-37.715579, 144.780474, -0.099),
 (-37.700454, 144.766873, -0.07),
 (-37.766184, 144.922995, 0.158),
 (-37.72674618, 144.9011039, 0.0),
 (-37.727529, 144.866305, 0.139),
 (-37.691916, 144.888368, 0.023),
 (-37.673182, 144.888492, 0.023),
 (-37.731138, 144.936356, 0.184),
 (-37.674739, 144.836195, -0.184),
 (-37.681105, 144.930247, 0.149),
 (-37.653917, 144.923609, -0.0289999999999999),
 (-37.666265, 144.956763, -0.0289999999999999),
 (-37.8006, 144.943559, 0.267),
 (-37.803569, 144.966112, 0.1369999999999999),
 (-37.786971, 144.96724, -0.0559999999999999),
 (-37.770012, 144.97728, 0.446),
 (-37.639887, 144.879626, 0.653),
 (-37.595015, 144.856082, 0.653),
 (-37.591069, 144.811494, 0.653),
 (-37.707326, 144.967874, 0.078),
 (-37.546522, 144.942199, -0.017),
 (-37.802608, 144.977795, 0.039),
 (-37.804846, 144.986906, 0.361),
 (-37.803515, 144.998203, 0.777),
 (-37.759426, 145.007006, 0.049),
 (-37.74247, 145.005702, 0.06),
 (-37.712474, 145.005955, -0.057),
 (-37.684684, 145.006644, -0.057),
 (-37.778298, 145.025853, 0.06),
 (-37.772675, 145.048573, 0.0819999999999999),
 (-37.743008, 145.046401, 0.075),
 (-37.664858, 145.065658, -0.073),
 (-37.701346, 145.056223, -0.0409999999999999),
 (-37.744406, 145.082685, 0.14),
 (-37.724398, 145.06988, -0.024),
 (-37.721328, 145.047012, -0.024),
 (-37.711787, 145.082426, -0.002),
 (-37.700175, 145.108339, 0.03),
 (-37.73919, 145.115208, 0.03),
 (-37.719759, 145.124727, 0.03),
 (-37.667713, 145.150369, 0.044),
 (-37.670851, 145.185826, 0.044),
 (-37.668408, 145.107802, 0.013),
 (-37.637478, 145.136688, 0.013),
 (-37.713299, 145.158579, 0.003),
 (-37.695254, 145.224204, -0.02),
 (-37.592101, 145.192854, -0.02),
 (-37.593554, 145.112985, -0.02),
 (-37.650385, 145.247277, -0.02),
 (-37.624929, 145.288073, -0.02),
 (-37.585625, 145.292381, -0.02),
 (-37.642852, 145.365993, -0.02),
 (-37.793805, 145.05219, 0.001),
 (-37.811738, 145.074116, 0.001),
 (-37.793695, 145.081714, 0.027),
 (-37.772477, 145.084806, 0.0),
 (-37.758335, 145.142675, -0.0139999999999999),
 (-37.765225, 145.110677, 0.035),
 (-37.786429, 145.125797, 0.301),
 (-37.794054, 145.186334, 0.016),
 (-37.778595, 145.212599, 0.016),
 (-37.752123, 145.204689, 0.02),
 (-37.736734, 145.267586, -0.03),
 (-37.737629, 145.313086, 0.26),
 (-37.822725, 145.030602, 0.103),
 (-37.840867, 145.068191, 0.0279999999999999),
 (-37.827203, 145.075748, -0.033),
 (-37.825173, 145.097236, 0.012),
 (-37.828866, 145.122393, 0.2739999999999999),
 (-37.806965, 145.125084, 0.074),
 (-37.81805, 145.149653, 0.084),
 (-37.817798, 145.174489, 0.042),
 (-37.819222, 145.196686, 0.104),
 (-37.848786, 145.192303, 0.08),
 (-37.823058, 145.257929, 0.085),
 (-37.819594, 145.248209, 0.085),
 (-37.779876, 145.282396, 0.214),
 (-37.819364, 145.313346, 0.138),
 (-37.78391, 145.322794, 0.1),
 (-37.814506, 145.532666, 0.037),
 (-37.867809, 145.786343, 0.037),
 (-37.727566, 145.818512, 0.037),
 (-37.759154, 145.363185, 0.068),
 (-37.708784, 145.416004, 0.068),
 (-37.858918, 145.019393, 0.015),
 (-37.857443, 145.034127, 0.01),
 (-37.857116, 145.057833, 0.01),
 (-37.873557, 145.049328, 0.098),
 (-37.873733, 145.019929, 0.098),
 (-37.867864, 145.092946, 0.019),
 (-37.882562, 145.090149, 0.166),
 (-37.880748, 145.128118, 0.089),
 (-37.914383, 145.168834, 0.036),
 (-37.85523, 145.151119, 0.015),
 (-37.864951, 145.221695, -0.004),
 (-37.845116, 145.270141, 0.092),
 (-37.856009, 145.31784, -0.009),
 (-37.861799, 145.284418, 0.11),
 (-37.910077, 145.324468, -0.022),
 (-37.921894, 145.3892, -0.031),
 (-37.935097, 145.350821, -0.031),
 (-37.980059, 145.325994, -0.031),
 (-37.892139, 145.023394, 0.0579999999999999),
 (-37.896497, 145.057237, 0.0579999999999999),
 (-37.902805, 145.089719, 0.035),
 (-37.923345, 145.087614, 0.095),
 (-37.945149, 145.115271, -0.045),
 (-37.920945, 145.167859, 0.084),
 (-37.944608, 145.156783, 0.088),
 (-37.975981, 145.13465, -0.001),
 (-37.966218, 145.17877, 0.109),
 (-37.8992, 145.23, 0.242),
 (-37.897137, 145.222634, 0.242),
 (-37.893263, 145.246731, 0.242),
 (-37.990985, 145.237462, 0.128),
 (-37.924431, 145.241589, -0.019),
 (-37.854683, 144.995504, 0.039),
 (-37.869072, 144.999026, -0.036),
 (-37.881414, 144.984034, -0.04),
 (-37.891841, 145.002571, 0.066),
 (-37.915066, 144.996329, 0.023),
 (-37.925371, 145.013593, 0.038),
 (-37.938889, 145.007238, 0.04),
 (-37.942021, 145.047802, 0.099),
 (-37.960555, 145.092698, 0.099),
 (-37.956585, 145.013472, 0.103),
 (-37.978698, 145.031561, 0.0559999999999999),
 (-37.985059, 145.067356, 0.088),
 (-38.007024, 145.104105, 0.094),
 (-38.046479, 145.122762, 0.139),
 (-38.072748, 145.134111, 0.039),
 (-38.103194, 145.137811, 0.047),
 (-38.162578, 145.135961, 0.072),
 (-38.126458, 145.157574, 0.002),
 (-38.092874, 145.177905, 0.131),
 (-37.916956, 145.036783, 0.148),
 (-37.831693, 144.958176, 0.147),
 (-37.846534, 144.95086, 0.068),
 (-36.5587997, 145.4689942, 0.068),
 (-37.832179, 144.918044, 0.062),
 (-37.943586, 144.498479, 0.315),
 (-38.039958, 144.422666, 0.315),
 (-37.9406, 144.2894, 0.315),
 (-38.111002, 144.33452, 0.086),
 (-38.215906, 144.334005, 0.078),
 (-38.13028025, 144.2894883, 0.104),
 (-38.17277, 144.389533, 0.085),
 (-38.157038, 144.34652, 0.037),
 (-38.181608, 144.427419, 0.1369999999999999),
 (-38.263005, 144.174411, 0.1369999999999999),
 (-38.20363, 143.892824, 0.1369999999999999),
 (-38.209921, 144.572989, 0.409),
 (-38.13622989, 144.6217267, 0.422),
 (-38.202905, 144.462401, 0.292),
 (-38.271074, 144.614191, 0.31),
 (-38.307545, 144.299978, 0.589),
 (-38.409363, 144.176397, 0.2019999999999999),
 (-38.459435, 144.106892, 0.2019999999999999),
 (-38.544977, 143.970167, 0.2019999999999999),
 (-38.411964, 143.924288, 0.2019999999999999),
 (-38.679417, 143.671777, 0.163),
 (-38.6791182, 143.832394, 0.163),
 (-38.521903, 143.712384, 0.163),
 (-38.716838, 143.474392, 0.163),
 (-38.781787, 143.429978, 0.163),
 (-38.564014, 143.448102, 0.163),
 (-38.311513, 143.584742, 0.06),
 (-38.209584, 143.244766, -0.02),
 (-38.232443, 142.884394, -0.02),
 (-38.178237, 142.952372, -0.02),
 (-38.026314, 143.520934, -0.02),
 (-37.941939, 143.375414, -0.02),
 (-37.877452, 143.185911, -0.02),
 (-37.752643, 143.373089, -0.02),
 (-38.407094, 143.133721, -0.051),
 (-38.466647, 143.06073, -0.051),
 (-38.535802, 142.908911, -0.051),
 (-38.660637, 143.177116, -0.051),
 (-38.602117, 142.870164, -0.051),
 (-37.888549, 142.98753, 0.031),
 (-37.982186, 142.853634, 0.031),
 (-37.981249, 142.660643, 0.031),
 (-37.960778, 142.478612, 0.031),
 (-38.0538178, 142.481806, 0.031),
 (-38.278013, 142.624719, 0.031),
 (-38.214555, 142.657483, 0.031),
 (-38.301794, 142.457611, 0.104),
 (-38.268176, 142.351658, 0.104),
 (-38.313434, 142.328761, 0.104),
 (-38.270398, 142.119266, 0.104),
 (-38.290199, 142.058916, 0.104),
 (-38.059868, 142.31953, 0.104),
 (-38.182084, 141.952156, 0.104),
 (-38.389835, 142.660221, 0.011),
 (-38.37884, 142.482889, 0.13),
 (-38.254454, 142.630109, 0.13),
 (-37.9711005, 141.8361176, -0.006),
 (-38.038873, 141.051987, -0.006),
 (-37.980868, 141.789606, -0.006),
 (-38.235475, 141.437227, -0.006),
 (-37.82644, 141.511007, -0.006),
 (-37.70789, 141.549163, -0.006),
 (-37.468159, 141.229722, -0.006),
 (-37.6391, 141.365747, -0.006),
 (-37.893196, 142.227754, -0.027),
 (-37.655945, 142.527253, -0.027),
 (-37.573978, 142.312764, -0.027),
 (-37.743155, 142.013356, -0.027),
 (-38.118855, 142.034141, -0.027),
 (-37.847981, 141.706379, -0.027),
 (-37.586718, 141.935665, -0.027),
 (-37.408371, 141.687516, -0.027),
 (-37.298061, 141.948371, -0.027),
 (-37.166673, 141.451647, -0.053),
 (-37.025316, 141.269571, -0.053),
 (-36.873961, 141.051389, -0.053),
 (-36.658804, 141.366071, -0.053),
 (-36.699331, 141.201068, -0.053),
 (-38.087758, 143.88056, 0.284),
 (-38.018664, 144.043058, 0.284),
 (-37.983701, 143.908716, 0.284),
 (-37.918437, 143.758576, 0.284),
 (-37.944446, 144.097178, 0.284),
 (-37.87179, 144.04476, 0.284),
 (-38.049195, 144.194625, 0.627),
 (-37.75803, 144.086089, 0.155),
 (-37.5878, 144.123664, 0.155),
 (-37.69608887, 144.6698898, 0.037),
 (-37.65724033, 144.5462424, 0.481),
 (-37.787135, 144.394442, 0.432),
 (-37.571941, 143.864505, 0.99),
 (-37.758248, 143.637463, 0.187),
 (-37.72758817, 143.5955266, 0.187),
 (-37.482132, 143.662387, 0.071),
 (-37.420588, 143.88637, 0.071),
 (-37.334655, 143.907186, 0.071),
 (-37.252718, 143.815613, 0.071),
 (-37.7778, 144.835743, -0.023),
 (-37.560917, 143.867158, -0.023),
 (-37.530285, 143.82561, -0.023),
 (-37.592283, 143.82846, 0.823),
 (-37.653945, 143.883416, 0.075),
 (-37.58012926, 143.7928013, 0.226),
 (-37.494056, 144.806632, 0.226),
 (-37.448455, 144.792581, 0.226),
 (-37.413302, 144.752095, 0.226),
 (-37.179453, 144.743358, 0.226),
 (-37.41233, 144.956641, 0.226),
 (-38.185857, 146.293728, 0.226),
 (-37.457785, 143.343429, 0.188),
 (-37.231524, 142.956916, 0.001),
 (-37.0666, 142.771159, 0.001),
 (-36.988914, 142.7154, 0.045),
 (-36.93829078, 143.2173081, 0.045),
 (-37.105993, 143.412675, 0.045),
 (-37.261481, 143.379493, 0.045),
 (-37.172964, 143.280627, 0.045),
 (-36.71744157, 142.9814278, -0.05),
 (-36.597861, 142.693946, -0.05),
 (-36.688551, 143.230699, -0.05),
 (-36.583744, 142.487468, -0.094),
 (-36.092132, 142.446015, -0.094),
 (-36.34199038, 142.6792298, -0.094),
 (-36.257725, 142.387341, -0.094),
 (-35.918885, 142.441984, -0.094),
 (-35.7157, 142.329159, -0.094),
 (-36.31227, 142.968057, -0.094),
 (-35.515627, 142.616079, -0.094),
 (-35.435634, 142.427118, -0.094),
 (-35.332477, 142.425302, -0.094),
 (-37.164183, 142.666302, 0.052),
 (-36.388628, 142.093883, -0.05),
 (-36.352459, 141.339702, -0.05),
 (-36.074144, 141.538074, -0.05),
 (-36.226015, 141.101929, -0.05),
 (-36.41273, 141.017332, -0.05),
 (-36.13191, 141.940764, -0.05),
 (-35.727789, 141.930872, -0.05),
 (-37.643461, 144.707974, 0.2289999999999999),
 (-37.56762, 144.728973, 0.2289999999999999),
 (-37.474551, 144.69202, 0.158),
 (-37.35388, 144.750796, 0.158),
 (-37.501619, 144.513018, 0.259),
 (-37.457528, 144.602032, 0.259),
 (-37.413377, 144.546151, 0.07),
 (-37.399224, 144.603892, 0.07),
 (-37.330661, 144.548846, 0.2019999999999999),
 (-37.061635, 144.214903, 0.138),
 (-37.351704, 144.144216, 0.149),
 (-37.287848, 144.170995, 0.149),
 (-36.17028, 142.766588, -0.052),
 (-35.901765, 142.890804, -0.052),
 (-35.711533, 142.671962, -0.052),
 (-36.2835, 143.364316, -0.052),
 (-36.07096, 143.241334, -0.052),
 (-35.824259, 143.232677, -0.052),
 (-35.701439, 143.152747, -0.052),
 (-35.616408, 142.943814, -0.052),
 (-35.384557, 142.839304, -0.052),
 (-35.700788, 143.406398, -0.052),
 (-34.287804, 142.144177, 0.122),
 (-34.238385, 142.172516, 0.163),
 (-34.1931, 142.154161, 0.1969999999999999),
 (-37.972887, 145.25835, 0.1969999999999999),
 (-34.180532, 142.004192, 0.061),
 (-36.607616, 144.041722, 0.017),
 (-36.483116, 143.886832, 0.017),
 (-36.474937, 143.586215, 0.017),
 (-36.405771, 143.810786, 0.017),
 (-36.079335, 143.744455, 0.017),
 (-36.78137, 144.457937, 0.017),
 (-36.515303, 144.28053, 0.017),
 (-36.36819, 144.206865, 0.017),
 (-36.164865, 144.297958, 0.017),
 (-36.055725, 144.159028, 0.017),
 (-36.128029, 143.917515, 0.017),
 (-36.837461, 144.768359, 0.222),
 (-35.89277, 143.45008, 0.02),
 (-35.931669, 144.262942, 0.02),
 (-35.809462, 144.184089, 0.02),
 (-35.767974, 143.769445, 0.02),
 (-35.639761, 144.094672, 0.02),
 (-35.628333, 143.78521, 0.02),
 (-36.764269, 144.285267, 0.009),
 (-37.825288, 145.011924, 0.009),
 (-36.757, 144.279, 0.009),
 (-36.777226, 144.245239, 0.119),
 (-36.656422, 144.178282, 0.259),
 (-36.51553, 144.638363, 0.009),
 (-36.575936, 145.019312, 0.009),
 (-36.461381, 144.976813, 0.009),
 (-36.410186, 144.965763, 0.009),
 (-36.321109, 144.709543, 0.0289999999999999),
 (-36.062544, 144.46276, 0.025),
 (-36.256251, 144.515589, 0.025),
 (-36.18096611, 144.6014151, 0.025),
 (-36.182336, 144.511713, 0.025),
 (-35.945748, 144.383334, 0.025),
 (-36.266642, 144.257135, 0.025),
 (-36.839707, 145.179762, 0.245),
 (-36.740713, 145.095753, 0.245),
 (-36.910878, 145.158863, 0.245),
 (-36.927251, 145.298203, 0.245),
 (-36.844091, 145.357627, 0.245),
 (-37.659566, 144.936295, 0.017),
 (-36.284584, 145.082735, 0.017),
 (-36.206055, 144.961183, 0.017),
 (-36.231961, 144.87573, 0.085),
 (-36.142596, 145.30827, 0.009),
 (-36.093878, 145.479471, 0.009),
 (-36.050686, 145.329026, 0.009),
 (-36.03202, 145.246572, 0.009),
 (-36.021295, 145.047253, 0.009),
 (-36.00978, 145.486015, 0.009),
 (-35.89718, 145.428306, 0.009),
 (-35.955363, 145.631874, 0.021),
 (-35.945353, 145.632682, 0.021),
 (-36.082665, 145.688671, 0.096),
 (-36.565078, 146.266835, 0.096),
 (-36.242443, 145.957776, 0.096),
 (-36.148922, 145.959015, 0.096),
 (-36.051782, 145.974755, 0.096),
 (-37.241401, 145.111854, 0.289),
 (-37.263736, 144.900644, 0.289),
 (-37.035925, 145.257867, 0.2019999999999999),
 (-37.286611, 145.435776, 0.2019999999999999),
 (-37.144067, 145.54096, 0.2019999999999999),
 (-38.195993, 146.535346, 0.004),
 (-36.786777, 145.565512, 0.144),
 (-36.625333, 145.708668, 0.144),
 (-36.385144, 145.420691, 0.027),
 (-36.554936, 145.977761, 0.027),
 (-36.669929, 146.062514, 0.027),
 (-36.341245, 146.338612, 0.106),
 (-36.358017, 146.330564, 0.106),
 (-36.180787, 146.604622, 0.086),
 (-36.119195, 146.717193, 0.086),
 (-36.018771, 146.415927, 0.075),
 (-37.67576, 144.989793, 0.02),
 (-36.150678, 146.919493, 0.02),
 (-36.135717, 146.864361, 0.0409999999999999),
 (-36.027154, 147.880991, 0.17),
 (-36.304285, 147.123674, 0.17),
 (-36.42031113, 146.8638108, 0.17),
 (-36.68753, 147.17925, 0.124),
 (-36.722034, 147.149468, 0.124),
 (-36.844307, 147.299257, 0.124),
 (-36.554037, 146.82759, 0.124),
 (-36.731686, 146.834561, 0.124),
 (-36.962316, 147.063163, 0.124),
 (-36.788479, 146.95979, 0.124),
 (-36.335898, 147.35527, 0.045),
 (-36.638769, 147.476819, 0.045),
 (-36.132613, 147.49344, 0.045),
 (-36.322884, 147.769911, 0.045),
 (-36.586316, 148.037958, 0.045),
 (-36.070928, 147.942058, 0.045),
 (-36.035908, 147.667373, 0.045),
 (-37.41047, 145.682161, 0.088),
 (-37.3209, 145.839057, 0.088),
 (-37.241527, 145.90623, 0.088),
 (-37.210538, 145.687889, 0.088),
 (-37.041215, 145.608491, 0.088),
 (-36.985747, 145.739419, 0.275),
 (-37.017241, 145.850304, 0.275),
 (-37.202634, 146.253268, 0.275),
 (-37.053108, 146.076832, 0.275),
 (-36.455136, 146.479489, 0.034),
 (-36.587922, 146.75397, 0.034),
 (-36.641016, 146.864194, 0.034),
 (-36.361056, 146.725705, 0.155),
 (-37.596078, 145.005578, 45.898),
 (-37.554655, 145.052904, 0.418),
 (-37.563905, 145.142035, 0.418),
 (-37.469784, 145.182221, 0.418),
 (-37.476474, 144.959512, 0.8809999999999999),
 (-37.354647, 145.052552, 0.8809999999999999),
 (-37.354143, 144.936707, 0.8809999999999999),
 (-37.521863, 145.353378, 0.154),
 (-37.814771, 145.346621, 0.004),
 (-37.817818, 145.384955, -0.0289999999999999),
 (-37.839387, 145.347505, -0.0289999999999999),
 (-37.885138, 145.316734, -0.0289999999999999),
 (-37.878188, 145.332431, -0.0289999999999999),
 (-37.866786, 145.350888, -0.0289999999999999),
 (-37.848036, 145.377128, -0.0289999999999999),
 (-37.889767, 145.357336, -0.0289999999999999),
 (-37.896917, 145.379622, -0.0289999999999999),
 (-37.89424, 145.405388, -0.0289999999999999),
 (-37.606088, 145.513804, 0.076),
 (-37.537492, 145.623011, 0.076),
 (-37.539267, 145.784751, 0.086),
 (-37.938471, 145.487862, 0.044),
 (-37.938068, 145.433024, 0.044),
 (-37.947379, 145.596576, 0.044),
 (-38.002518, 145.42327, 0.044),
 (-37.874533, 145.429715, 0.022),
 (-37.836663, 145.430311, 0.022),
 (-37.786977, 145.384922, 0.026),
 (-37.971763, 145.255599, -0.051),
 (-38.009435, 145.265524, 0.092),
 (-38.037026, 145.304198, 0.121),
 (-38.025018, 145.349488, 0.006),
 (-38.048316, 145.371635, 1.936),
 (-38.069094, 145.406887, 1.936),
 (-38.070135, 145.565304, 0.21),
 (-38.064252, 145.634339, 0.21),
 (-38.10718, 145.669112, 0.21),
 (-38.01378, 145.726311, 0.21),
 (-38.043542, 145.787991, 0.485),
 (-38.096289, 145.867337, 0.485),
 (-38.207476, 145.922212, 0.361),
 (-37.919937, 145.945214, 0.361),
 (-38.194379, 145.989901, 0.361),
 (-38.313447, 145.811863, 0.361),
 (-38.210382, 146.065656, 0.16),
 (-38.245649, 146.16397, 0.16),
 (-38.290637, 146.175271, 0.16),
 (-38.42207, 146.158866, 0.16),
 (-37.978862, 146.342932, 0.08),
 (-37.993258, 146.013136, 0.08),
 (-37.84222154, 145.851865, 0.08),
 (-38.245215, 146.424457, 0.025),
 (-38.315452, 146.414358, 0.025),
 (-38.364689, 146.359836, 0.025),
 (-38.437946, 146.319351, 0.025),
 (-37.5832, 147.463, 0.1159999999999999),
 (-37.860878, 147.341513, 0.1159999999999999),
 (-37.796743, 147.455946, 0.1159999999999999),
 (-37.812017, 147.764385, 0.1159999999999999),
 (-37.495349, 147.866067, 0.1159999999999999),
 (-37.379331, 147.887515, 0.1159999999999999),
 (-37.264671, 147.707962, 0.1159999999999999),
 (-37.066169, 147.464799, 0.1159999999999999),
 (-36.88053, 147.826143, 0.1159999999999999),
 (-37.797042, 147.814894, 0.1159999999999999),
 (-38.316869, 146.607101, 0.043),
 (-38.224191, 147.106181, 0.043),
 (-38.514438, 146.836248, 0.043),
 (-38.630568, 146.436583, 0.043),
 (-38.647562, 146.507929, 0.043),
 (-38.631942, 146.815723, 0.043),
 (-38.166213, 146.772991, 0.053),
 (-38.018616, 146.694894, 0.053),
 (-38.298267, 146.708775, 0.053),
 (-38.035548, 147.084398, 0.081),
 (-37.886136, 146.848259, 0.081),
 (-37.571707, 146.805175, 0.081),
 (-38.10361729, 147.1414369, 0.256),
 (-38.095569, 146.059953, 0.057),
 (-38.12413, 146.596877, 0.048),
 (-38.063907, 146.672206, 0.048),
 (-37.3690401, 146.8291658, -0.207),
 (-37.55304411, 147.130018, -0.207),
 (-37.826032, 147.63201, 0.163),
 (-37.898544, 147.680121, 0.22),
 (-37.914728, 147.727389, 0.0),
 (-37.01610136, 148.0696953, 0.0),
 (-37.770977, 148.426851, -0.016),
 (-37.757895, 148.116641, -0.016),
 (-37.39051, 148.660943, -0.016),
 (-37.610841, 148.873952, -0.016),
 (-37.566489, 149.217216, -0.016),
 (-37.567684, 149.538907, -0.016),
 (-37.563775, 149.909868, -0.016),
 (-37.811303, 147.867533, 0.15),
 (-37.881041, 147.839367, 0.15),
 (-37.821921, 147.970237, 0.15),
 (-38.156369, 145.198328, 0.09),
 (-38.196908, 145.169556, 0.044),
 (-38.262273, 145.166426, 0.044),
 (-38.261168, 145.096992, 0.044),
 (-38.217991, 145.227373, 0.049),
 (-38.204448, 145.356937, 0.049),
 (-38.305806, 145.136622, 0.161),
 (-38.339871, 145.155546, 0.161),
 (-38.352327, 145.199777, 0.161),
 (-38.38752, 145.19304, 0.161),
 (-38.355231, 145.094502, 0.161),
 (-38.383368, 145.153269, 0.161),
 (-38.415199, 145.050587, 0.079),
 (-38.407828, 144.975131, 0.079),
 (-38.460965, 144.976673, 0.079),
 (-38.373694, 145.01994, 0.079),
 (-38.42776, 144.900413, 0.079),
 (-38.41571044, 145.3687444, 0.221),
 (-38.482182, 145.231974, 0.421),
 (-38.465552, 145.293632, 0.421),
 (-38.528213, 145.379683, 0.421),
 (-38.195017, 145.093743, 0.055),
 (-38.2783, 145.031598, 0.139),
 (-38.326447, 145.007626, 0.442),
 (-38.354321, 144.931834, 0.148),
 (-38.37363083, 144.8754149, 0.148),
 (-38.396077, 144.827203, 0.1989999999999999),
 (-38.367874, 144.768301, 0.1989999999999999),
 (-38.345527, 144.739101, 0.1989999999999999),

# Rent and Income

In [21]:
rent_income

,Unnamed: 0,Postcode,Median Yearly rent price in 2021,Median income in 2021-2022,affordable index
0,0,3000,19240,28312.07,1.471521
1,1,3003,19240,20105.80,1.045000
2,2,3005,19240,55608.20,2.890239
3,3,3008,19240,55608.20,2.890239
4,4,3010,19240,54240.67,2.819162
...,...,...,...,...,...
663,663,3922,18200,42006.06,2.308025
664,664,3923,18200,42006.06,2.308025
665,665,3925,18200,42006.06,2.308025
666,666,3991,18200,42818.06,2.352641
667,667,3992,18200,42818.06,2.352641

In [22]:
rent_income["Postcode"] = rent_income["Postcode"].astype(str)

In [23]:
postcode = pd.DataFrame(postcode_SA2, columns=["Postcode", "Longitude", "Latitude"])
postcode

      Postcode   Longitude   Latitude
0         3000  144.956776 -37.817403
1         3001  144.956776 -37.817403
2         3002  144.982207 -37.818517
3         3003  144.949592 -37.810871
4         3004  144.970161 -37.844246
...        ...         ...        ...
3529      8111  144.970161 -37.844246
3530      8120  144.970161 -37.844246
3531      8205  144.970161 -37.844246
3532      8785  145.208504 -38.016114
3533      9999  144.956776 -37.817403

[3534 rows x 3 columns]

In [24]:
#rent_income_merge = pd.DataFrame(pd.merge(rent_income, postcode, on='Postcode', how='inner'))
#rent_income_merge.dropna(axis='rows')

In [25]:
#rent_income_new = rent_income_merge.drop_duplicates(["Postcode"])

In [26]:
#re_in_lat = rent_income_new["Latitude"].to_list()
#re_in_lng = rent_income_new["Longitude"].to_list()
#re_in_aff = rent_income_new["affordable index"].to_list()

In [27]:
#re_in_point = []
#for i in range(len(re_in_lat)):
#    re_in_point.append((re_in_lat[i], re_in_lng[i], re_in_aff[i]))

# Map

In [28]:
#postcode_SA2

In [29]:
sf = gpd.read_file("../data/POA_2021_AUST_GDA94_SHP/POA_2021_AUST_GDA94.shp")
sf = sf.rename(columns={'POA_CODE21':'Postcode'})

In [30]:
sf

,Postcode,POA_NAME21,AUS_CODE21,AUS_NAME21,AREASQKM21,LOCI_URI21,SHAPE_Leng,SHAPE_Area,geometry
0,0800,0800,AUS,Australia,3.1731,http://linked.data.gov.au/dataset/asgsed3/POA/...,0.081893,0.000264,"POLYGON ((130.83680 -12.45378, 130.83683 -12.4..."
1,0810,0810,AUS,Australia,24.4283,http://linked.data.gov.au/dataset/asgsed3/POA/...,0.241859,0.002031,"POLYGON ((130.89985 -12.36568, 130.89874 -12.3..."
2,0812,0812,AUS,Australia,35.8899,http://linked.data.gov.au/dataset/asgsed3/POA/...,0.278789,0.002983,"POLYGON ((130.91914 -12.40788, 130.91830 -12.4..."
3,0820,0820,AUS,Australia,39.0642,http://linked.data.gov.au/dataset/asgsed3/POA/...,0.409134,0.003248,"POLYGON ((130.85260 -12.43995, 130.85088 -12.4..."
4,0822,0822,AUS,Australia,150775.8030,http://linked.data.gov.au/dataset/asgsed3/POA/...,90.601833,12.564239,"MULTIPOLYGON (((136.56647 -12.08393, 136.56703..."
...,...,...,...,...,...,...,...,...,...
2639,7469,7469,AUS,Australia,5893.5125,http://linked.data.gov.au/dataset/asgsed3/POA/...,11.341556,0.636169,"MULTIPOLYGON (((144.79215 -41.46479, 144.79211..."
2640,7470,7470,AUS,Australia,108.2441,http://linked.data.gov.au/dataset/asgsed3/POA/...,0.781048,0.011725,"POLYGON ((145.57768 -41.78641, 145.57686 -41.7..."
2641,9494,No usual address (Aust.),AUS,Australia,0.0000,http://linked.data.gov.au/dataset/asgsed3/POA/...,0.000000,0.000000,None
2642,9797,Migratory - Offshore - Shipping (Aust.),AUS,Australia,0.0000,http://linked.data.gov.au/dataset/asgsed3/POA/...,0.000000,0.000000,None
2643,ZZZZ,Outside Australia,ZZZ,Outside Australia,0.0000,http://linked.data.gov.au/dataset/asgsed3/POA/...,0.000000,0.000000,None

In [31]:
poa_vic = postcode_SA2["Postcode"].to_list()
poa_vic = set(poa_vic)

In [32]:
sf_new = pd.DataFrame()

for poa in poa_vic:
    df = sf[sf["Postcode"] == str(poa)]
    sf_new = pd.concat([sf_new, df])

In [33]:
sf_new['geometry'] = sf_new['geometry'].to_crs("+proj=longlat +ellps=WGS84 +datum=WGS84 +no_defs")

In [34]:
geoJSON = sf_new[['Postcode','geometry']].drop_duplicates('Postcode').to_json()

In [35]:
re_in = gpd.GeoDataFrame(pd.merge(rent_income[['Postcode', 'affordable index']], sf, on='Postcode', how='inner'))
re_inGeo = re_in[['Postcode','geometry']].drop_duplicates('Postcode').to_json()
print(re_inGeo[:300])

{"type": "FeatureCollection", "features": [{"id": "0", "type": "Feature", "properties": {"Postcode": "3000"}, "geometry": {"type": "Polygon", "coordinates": [[[144.96138273000008, -37.82051446999998], [144.96062273000007, -37.820754489999956], [144.96000274000005, -37.82104448999996], [144.959030740

In [36]:
#m = folium.Map(location=[-36, 145.3906], tiles="Stamen Terrain", zoom_start=7)

In [43]:
poagroup = folium.FeatureGroup(name='Postcode_Layer', control=True)

popgroup = folium.FeatureGroup(name='Population_Layer', control=True)

schgroup = folium.FeatureGroup(name='School_Layer', control=True)

mallgroup = folium.FeatureGroup(name='Mall_Layer', control=True)

traingroup = folium.FeatureGroup(name='Train_Layer', control=True)

folium.GeoJson(
    geoJSON,
    style_function=lambda feature: {
        'fillColor': '#ffff00',
        'color': 'black',
        'weight': 2,
        'dashArray': '5, 5'
    }
).add_to(poagroup)

m.add_child(poagroup)


#m.save('../plots/poa_vic.html')

In [42]:
m = folium.Map(location=[-36, 145.3906], tiles="Stamen Terrain", zoom_start=7)

folium.GeoJson(
    geoJSON,
    style_function=lambda feature: {
        'fillColor': '#9ad7d2',
        'color': 'black',
        'weight': 2,
        'dashArray': '5, 5'
    },
    popup=folium.GeoJsonPopup(["Postcode"])
).add_to(poagroup)

m.add_child(poagroup)

HeatMap(pop_point).add_to(popgroup)
m.add_child(popgroup)

affgroup = folium.Choropleth(
    geo_data=re_inGeo, # geoJSON 
    name='Affordable_Layer', # name of plot
    data=re_in, # data source
    columns=['Postcode','affordable index'], # the columns required
    key_on= 'properties.Postcode', # this is from the geoJSON's properties
    fill_color='YlOrRd', # color scheme
    nan_fill_color='black',
    legend_name='Affordable Index'
)

affgroup.add_to(m)

marker_cluster_sch = MarkerCluster(name="School_Layer").add_to(schgroup)

# add data point to the mark cluster
for (lat, lng, types) in sch_point:
    folium.Marker(
        location=[lat, lng],
        icon=folium.Icon(icon='university',color='black',icon_color='white',angle=45),
        popup=types
    ).add_to(marker_cluster_sch)

# add marker_cluster to map
m.add_child(marker_cluster_sch)

marker_cluster_mall = MarkerCluster(name="Mall_Layer").add_to(mallgroup)

# add data point to the mark cluster
for (lat, lng, stores) in mall_point:
    folium.Marker(
        location=[lat, lng],
        icon=folium.Icon(icon='gift',color='orange',icon_color='white',prefix="fa"),
        popup=stores
    ).add_to(marker_cluster_mall)
    
m.add_child(marker_cluster_mall)
            
marker_cluster_train = MarkerCluster(name="Train_Layer").add_to(traingroup)

# add data point to the mark cluster
for (lat, lng, id) in train_point:
    folium.Marker(
        location=[lat, lng],
        icon=folium.Icon(icon='train',color='green',icon_color='white',prefix="fa"),
        popup=id
    ).add_to(marker_cluster_train)
    
m.add_child(marker_cluster_train)

folium.LayerControl().add_to(m)
m.save('../plots/poa_vic_mall.html')

marker_cluster = MarkerCluster().add_to(m)

# add data point to the mark cluster
for (lat, lng, stores) in mall_point:
    folium.Marker(
        location=[lat, lng],
        icon=folium.Icon(icon='gift',color='red',icon_color='blue',prefix="fa"),
        popup=stores
    ).add_to(marker_cluster)

for (lat, lng, types) in sch_point:
    folium.Marker(
        location=[lat, lng],
        icon=folium.Icon(icon='university',color='green',icon_color='yellow',prefix="fa"),
        popup=types
    ).add_to(marker_cluster)
    
for (lat, lng, id) in train_point:
    folium.Marker(
        location=[lat, lng],
        icon=folium.Icon(icon='train',color='purple',icon_color='yellow',prefix="fa"),
        popup=id
    ).add_to(marker_cluster)

# add marker_cluster to map
m.add_child(marker_cluster)
m.save('../plots/poa_vic_mall.html')

marker_cluster_sch = MarkerCluster().add_to(m)

# add data point to the mark cluster
for (lat, lng, types) in sch_point:
    folium.Marker(
        location=[lat, lng],
        icon=folium.Icon(icon='university',color='green',icon_color='yellow',angle=45),
        popup=types
    ).add_to(marker_cluster_sch)

# add marker_cluster to map
m.add_child(marker_cluster_sch)
m.save('../plots/poa_vic_sch.html')