# Affordable

In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
# read yearly income csv
Yearly_income=pd.read_csv('../data/curated/VIC_yearly_income_poa.csv')

In [4]:
# select the column we need
Yearly_income_poa = pd.DataFrame(Yearly_income, columns=["Postcode", "Median income in 2021-2022"])

In [6]:
# preprocess past rent data
External_rent= pd.read_excel('../data/raw/external_rent.xlsx',sheet_name='All Properties')
External_rent = External_rent.iloc[3:,[1,-1]]
External_rent = External_rent.dropna(axis='rows',how = 'all')

In [7]:
# rename column name
External_rent = External_rent.rename(columns={'Unnamed: 177':'Median rent price in 2021','Unnamed: 1':'LGA'})

In [8]:
# Use the weekly rent price to get the total annual rent price
External_rent['Median Yearly rent price in 2021'] = External_rent['Median rent price in 2021']*52

In [10]:
# Read the csv file of the converted poa and preprocess
postcode_LGA = pd.read_csv('../data/raw/postcode_info.csv')
attribute = postcode_LGA.loc[:,['Postcode','LGA Region']]
drop_dup = attribute.drop_duplicates(subset=['Postcode'])
rename = drop_dup.rename(columns={'LGA Region':'LGA'})

In [11]:
# merge two datasets by LGA
External_rent_poa = pd.DataFrame(pd.merge(rename,External_rent, on='LGA', how='inner'))
External_rent_poa.dropna(axis='rows')

,Postcode,LGA,Median rent price in 2021,Median Yearly rent price in 2021
0,3000,Melbourne,370,19240
1,3003,Melbourne,370,19240
2,3005,Melbourne,370,19240
3,3008,Melbourne,370,19240
4,3010,Melbourne,370,19240
...,...,...,...,...
714,3922,Bass Coast,350,18200
715,3923,Bass Coast,350,18200
716,3925,Bass Coast,350,18200
717,3991,Bass Coast,350,18200
718,3992,Bass Coast,350,18200

In [12]:
# select the columns we need.
External_rent_poa = External_rent_poa.iloc[:,[0,3]]

     Postcode Median Yearly rent price in 2021
0        3000                            19240
1        3003                            19240
2        3005                            19240
3        3008                            19240
4        3010                            19240
..        ...                              ...
714      3922                            18200
715      3923                            18200
716      3925                            18200
717      3991                            18200
718      3992                            18200

[719 rows x 2 columns]

In [13]:
# merge yearly income and yearly rent price by poa
rent_income = pd.DataFrame(pd.merge(External_rent_poa,Yearly_income_poa, on='Postcode', how='inner'))

In [15]:
# calculate affordable index by yearly income /yearly rent
rent_income['affordable index'] = rent_income['Median income in 2021-2022']/rent_income['Median Yearly rent price in 2021']

,Postcode,Median Yearly rent price in 2021,Median income in 2021-2022,affordable index
0,3000,19240,28312.07,1.471521
1,3005,19240,55608.20,2.890239
2,3008,19240,55608.20,2.890239
3,3010,19240,54240.67,2.819162
4,3013,19240,77955.03,4.051717
...,...,...,...,...
683,3922,18200,42006.06,2.308025
684,3923,18200,42006.06,2.308025
685,3925,18200,42006.06,2.308025
686,3991,18200,42818.06,2.352641
687,3992,18200,42818.06,2.352641

In [16]:
# save csv
rent_income.to_csv("../data/curated/rent_income21.csv")

In [17]:
# Sort by affordable index
top_index = rent_income.sort_values(by='affordable index', ascending=False)

In [18]:
# find the top 10 area with affordable index
top_index.iloc[:10,:]

,Postcode,Median Yearly rent price in 2021,Median income in 2021-2022,affordable index
474,3516,11336,47784.07,4.21525
491,3575,11336,47784.07,4.21525
490,3573,11336,47784.07,4.21525
475,3517,11336,47784.07,4.21525
488,3571,11336,47784.07,4.21525
487,3570,11336,47784.07,4.21525
476,3520,11336,47784.07,4.21525
479,3537,11336,47784.07,4.21525
400,3374,12480,52360.21,4.19553
402,3380,12480,52360.21,4.19553
620,3695,13000,54244.17,4.172628
404,3525,12480,51640.70,4.137877
483,3565,11336,46824.39,4.130592
489,3572,11336,46824.39,4.130592
484,3566,11336,46824.39,4.130592
5,3015,19240,78310.89,4.070213
4,3013,19240,77955.03,4.051717
373,3378,14976,58255.51,3.889925
372,3375,14976,58255.51,3.889925
472,3506,11336,44081.06,3.88859