# Affordable

In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
Yearly_income=pd.read_csv('../data/curated/VIC_yearly_income_poa.csv')

In [3]:
Yearly_income

,Unnamed: 0,Postcode,SA2 name,Median income in 2014-15,Median income in 2015-16,Median income in 2016-17,Median income in 2017-18,Median income in 2018-19,Median income in 2019-2020,Median income in 2020-2021,Median income in 2021-2022,Median income in 2022-2023,Median income in 2023-2024,Median income in 2024-2025,Median income in 2025-2026
0,0,3000,Melbourne,32697,31242,28068,28806,30024,29442.15,28871.58,28312.07,27763.40,27225.36,26697.75,26180.37
1,1,3001,Melbourne,32697,31242,28068,28806,30024,29442.15,28871.58,28312.07,27763.40,27225.36,26697.75,26180.37
2,2,8001,Melbourne,32697,31242,28068,28806,30024,29442.15,28871.58,28312.07,27763.40,27225.36,26697.75,26180.37
3,3,8003,Melbourne,32697,31242,28068,28806,30024,29442.15,28871.58,28312.07,27763.40,27225.36,26697.75,26180.37
4,4,8006,Melbourne,32697,31242,28068,28806,30024,29442.15,28871.58,28312.07,27763.40,27225.36,26697.75,26180.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
711,711,3991,Wonthaggi - Inverloch,36316,36159,36496,38060,39884,40838.97,41816.81,42818.06,43843.29,44893.06,45967.97,47068.62
712,712,3992,Wonthaggi - Inverloch,36316,36159,36496,38060,39884,40838.97,41816.81,42818.06,43843.29,44893.06,45967.97,47068.62
713,713,3995,Wonthaggi - Inverloch,36316,36159,36496,38060,39884,40838.97,41816.81,42818.06,43843.29,44893.06,45967.97,47068.62
714,714,3996,Wonthaggi - Inverloch,36316,36159,36496,38060,39884,40838.97,41816.81,42818.06,43843.29,44893.06,45967.97,47068.62
715,715,8008,South Yarra - West,66468,65975,65330,68512,70451,71504.50,72573.75,73658.99,74760.46,75878.40,77013.06,78164.69

In [4]:
Yearly_income_poa = pd.DataFrame(Yearly_income, columns=["Postcode", "Median income in 2021-2022"])

In [5]:
Yearly_income_poa

     Postcode  Median income in 2021-2022
0        3000                    28312.07
1        3001                    28312.07
2        8001                    28312.07
3        8003                    28312.07
4        8006                    28312.07
..        ...                         ...
711      3991                    42818.06
712      3992                    42818.06
713      3995                    42818.06
714      3996                    42818.06
715      8008                    73658.99

[716 rows x 2 columns]

In [6]:
External_rent=pd.read_excel('../data/raw/external_rent.xlsx',sheet_name='All Properties')
External_rent = External_rent.iloc[3:,[1,-1]]
External_rent = External_rent.dropna(axis='rows',how = 'all')

In [7]:
External_rent = External_rent.rename(columns={'Unnamed: 177':'Median rent price in 2021','Unnamed: 1':'LGA'})

In [8]:
External_rent['Median Yearly rent price in 2021'] = External_rent['Median rent price in 2021']*52

In [9]:
External_rent

                LGA Median rent price in 2021 Median Yearly rent price in 2021
3       Colac-Otway                       335                            17420
4       Corangamite                       315                            16380
5           Glenelg                       330                            17160
6   Greater Geelong                       400                            20800
7             Moyne                       350                            18200
..              ...                       ...                              ...
89      Group Total                       400                            20800
90         Victoria                       390                            20280
92            Metro                       395                            20540
93        Non-Metro                       350                            18200
94         Victoria                       390                            20280

[91 rows x 3 columns]

In [10]:
postcode_LGA = pd.read_csv('../data/raw/postcode_info.csv')
attribute = postcode_LGA.loc[:,['Postcode','LGA Region']]
drop_dup = attribute.drop_duplicates(subset=['Postcode'])
rename = drop_dup.rename(columns={'LGA Region':'LGA'})

In [11]:
External_rent_poa = pd.DataFrame(pd.merge(rename,External_rent, on='LGA', how='inner'))
External_rent_poa.dropna(axis='rows')

,Postcode,LGA,Median rent price in 2021,Median Yearly rent price in 2021
0,3000,Melbourne,370,19240
1,3003,Melbourne,370,19240
2,3005,Melbourne,370,19240
3,3008,Melbourne,370,19240
4,3010,Melbourne,370,19240
...,...,...,...,...
714,3922,Bass Coast,350,18200
715,3923,Bass Coast,350,18200
716,3925,Bass Coast,350,18200
717,3991,Bass Coast,350,18200
718,3992,Bass Coast,350,18200

In [12]:
External_rent_poa = External_rent_poa.iloc[:,[0,3]]
External_rent_poa

     Postcode Median Yearly rent price in 2021
0        3000                            19240
1        3003                            19240
2        3005                            19240
3        3008                            19240
4        3010                            19240
..        ...                              ...
714      3922                            18200
715      3923                            18200
716      3925                            18200
717      3991                            18200
718      3992                            18200

[719 rows x 2 columns]

In [13]:
rent_income = pd.DataFrame(pd.merge(External_rent_poa,Yearly_income_poa, on='Postcode', how='inner'))

In [14]:
rent_income

     Postcode Median Yearly rent price in 2021  Median income in 2021-2022
0        3000                            19240                    28312.07
1        3005                            19240                    55608.20
2        3008                            19240                    55608.20
3        3010                            19240                    54240.67
4        3013                            19240                    77955.03
..        ...                              ...                         ...
683      3922                            18200                    42006.06
684      3923                            18200                    42006.06
685      3925                            18200                    42006.06
686      3991                            18200                    42818.06
687      3992                            18200                    42818.06

[688 rows x 3 columns]

In [15]:
rent_income['affordable index'] = rent_income['Median income in 2021-2022']/rent_income['Median Yearly rent price in 2021']
rent_income

,Postcode,Median Yearly rent price in 2021,Median income in 2021-2022,affordable index
0,3000,19240,28312.07,1.471521
1,3005,19240,55608.20,2.890239
2,3008,19240,55608.20,2.890239
3,3010,19240,54240.67,2.819162
4,3013,19240,77955.03,4.051717
...,...,...,...,...
683,3922,18200,42006.06,2.308025
684,3923,18200,42006.06,2.308025
685,3925,18200,42006.06,2.308025
686,3991,18200,42818.06,2.352641
687,3992,18200,42818.06,2.352641

In [16]:
rent_income.to_csv("../data/curated/rent_income21.csv")

In [17]:
top_index = rent_income.sort_values(by='affordable index', ascending=False)

In [18]:
top_index.iloc[40:60,:]

,Postcode,Median Yearly rent price in 2021,Median income in 2021-2022,affordable index
474,3516,11336,47784.07,4.21525
491,3575,11336,47784.07,4.21525
490,3573,11336,47784.07,4.21525
475,3517,11336,47784.07,4.21525
488,3571,11336,47784.07,4.21525
487,3570,11336,47784.07,4.21525
476,3520,11336,47784.07,4.21525
479,3537,11336,47784.07,4.21525
400,3374,12480,52360.21,4.19553
402,3380,12480,52360.21,4.19553
620,3695,13000,54244.17,4.172628
404,3525,12480,51640.70,4.137877
483,3565,11336,46824.39,4.130592
489,3572,11336,46824.39,4.130592
484,3566,11336,46824.39,4.130592
5,3015,19240,78310.89,4.070213
4,3013,19240,77955.03,4.051717
373,3378,14976,58255.51,3.889925
372,3375,14976,58255.51,3.889925
472,3506,11336,44081.06,3.88859