<font size = 5>Past rent data

In [93]:
import pandas as pd
rent_data = pd.read_excel("https://www.dffh.vic.gov.au/sites/default/files/documents/202109/Moving%20annual%20rents%20by%20suburb%20-%20June%20quarter%202021.xlsx", sheet_name='All properties')
rent_data = rent_data.loc[2:173]
rent_data.drop(['All properties'],axis=1,inplace=True)
rent_data.drop(rent_data.columns[1:143],axis=1,inplace=True)
rent_data.to_csv('../data/raw/past_rent_data.csv', encoding='utf-8')
rent_data.head()

,Unnamed: 1,Unnamed: 144,Unnamed: 145,Unnamed: 146,Unnamed: 147,Unnamed: 148,Unnamed: 149,Unnamed: 150,Unnamed: 151,Unnamed: 152,...,Unnamed: 164,Unnamed: 165,Unnamed: 166,Unnamed: 167,Unnamed: 168,Unnamed: 169,Unnamed: 170,Unnamed: 171,Unnamed: 172,Unnamed: 173
2,Albert Park-Middle Park-West St Kilda,897,530,886,550,918,560,914,570,924,...,826,585,802,560,848,550,898,500,932,500
3,Armadale,925,470,965,480,987,490,887,495,826,...,782,500,709,500,729,495,792,450,813,440
4,Carlton North,500,560,500,562,508,560,526,570,493,...,536,590,520,590,547,590,579,580,598,580
5,Carlton-Parkville,4772,400,4480,410,4409,410,4386,420,4414,...,5025,400,4633,400,4764,395,4170,350,4763,340
6,CBD-St Kilda Rd,10742,490,10447,495,10030,495,10225,490,10136,...,11039,495,11325,460,13473,420,15630,380,17553,370

In [94]:
past_rent=pd.read_csv('../data/raw/past_rent_data.csv',header=0, names=['suburb',\
                                                                        'Dec_2017_count', 'Dec_2017_median',\
                                                                        'Mar_2018_count', 'Mar_2018_median', 'Jun_2018_count', 'Jun_2018_median', 'Sep_2018_count', 'Sep_2018_median', 'Dec_2018_count', 'Dec_2018_median',\
                                                                        'Mar_2019_count', 'Mar_2019_median', 'Jun_2019_count', 'Jun_2019_median', 'Sep_2019_count', 'Sep_2019_median', 'Dec_2019_count', 'Dec_2019_median',\
                                                                        'Mar_2020_count', 'Mar_2020_median', 'Jun_2020_count', 'Jun_2020_median', 'Sep_2020_count', 'Sep_2020_median', 'Dec_2020_count', 'Dec_2020_median',\
                                                                        'Mar_2021_count', 'Mar_2021_median', 'Jun_2021_count', 'Jun_2021_median'])
past_rent = past_rent.loc[:,::2]

past rent rate

In [96]:
count=0
index_list = []
for index in past_rent:
    count+=1
    index_list.append(index)
    if count >=3:
        past_rent[str(index)+'_rate'] = (past_rent[str(index)] - past_rent[str(index_list[count-2])]) / past_rent[str(index_list[count-2])] *100

In [99]:
past_rent.to_csv('../data/curated/past_rent_rate_rent.csv', encoding='utf-8')